In [18]:
import pandas as pd

In [19]:
import numpy as np

In [20]:
dt=pd.read_csv("Spam.csv")
dt.head(10)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [21]:
dt['spam']=dt['type'].map( {'spam':1,'ham':0} ).astype(int)
dt.head(5)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [22]:
print("Columns in the given data:")
for col in dt.columns:
    print(col)

Columns in the given data:
type
text
spam

In [23]:
t=len(dt['type'])
print("No. of rows in review column:",t)
t=len(dt['text'])
print("No. of rows in liked column:",t)

No. of rows in review column: 116
No. of rows in liked column: 116

In [24]:
dt['text'][1]

'Ok lar... Joking wif u oni...'

In [25]:
def tokenizer(text):
    return text.split()

In [26]:
dt['text']=dt['text'].apply(tokenizer)

In [27]:
dt['text'][1]

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [28]:
dt['text'][1]

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [29]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english",ignore_stopwords=False)

In [30]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [31]:
dt['text']=dt['text'].apply(stem_it)

In [32]:
dt['text'][1]

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

In [34]:
dt['text'][112]

['go', 'for', 'dinner.msg', 'you', 'after.']

In [38]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [39]:
def lemmit_it(text):
    return[lemmatizer.lemmatize(word,pos="a") for word in text]

In [45]:
dt['text']=dt['text'].apply(lemmit_it)

In [46]:
dt['text'][112]

['go', 'for', 'dinner.msg', 'you', 'after.']

In [50]:
dt['text'][65]

['as',
 'a',
 'valu',
 'customer,',
 'i',
 'am',
 'pleas',
 'to',
 'advis',
 'you',
 'that',
 'follow',
 'recent',
 'review',
 'of',
 'your',
 'mob',
 'no.',
 'you',
 'are',
 'award',
 'with',
 'a',
 '£1500',
 'bonus',
 'prize,',
 'call',
 '09066364589']

In [52]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [58]:
from nltk.corpus import stopwords
stop_words=stopwords.words('english')

In [59]:
def stop_it(text):
    review=[word for word in text if not word in stop_words]
    return review

In [60]:
dt['text']=dt['text'].apply(stop_it)

In [61]:
dt['text'][65]

['valu',
 'customer,',
 'pleas',
 'advis',
 'follow',
 'recent',
 'review',
 'mob',
 'no.',
 'award',
 '£1500',
 'bonus',
 'prize,',
 'call',
 '09066364589']

In [62]:
dt.head(10)

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0
5  spam  [freemsg, hey, darl, 3, week, word, back!, i'd...     1
6   ham  [even, brother, like, speak, me., treat, like,...     0
7   ham  [per, request, mell, mell, (oru, minnaminungin...     0
8  spam  [winner!!, valu, network, custom, select, rece...     1
9  spam  [mobil, 11, month, more?, u, r, entitl, updat,...     1

In [63]:
dt['text']=dt['text'].apply(' '.join)

In [64]:
dt.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

In [65]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [66]:
from sklearn.model_selection import train_test_split
x_train,x_text,y_train,y_text=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [68]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_text)
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred, y_text)*100
print("Accuracy:",acc_log )

Accuracy: 87.5

In [70]:
from sklearn.svm import LinearSVC
linear_svc = LinearSVC(random_state=0)
linear_svc.fit(x_train, y_train)
y_pred = linear_svc.predict(x_text)
acc_linear_svc =accuracy_score(y_pred, y_text) * 100
print("Accuracy:",acc_linear_svc)

Accuracy: 87.5